<div class="page-header" data-parallax="true"
     style="background-image: url('./assets/img/parallax.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <div style="text-align: center">
        <h1>Welcome to my portfolio</h1>
        <img width="300" alt="Angular Logo"
             src="./assets/img/angular2-logo.png">
        <h3 class="description">
          Built using <a href="https://angular.io/" target="_blank">Angular</a>
        </h3>
      </div>
      <br/>
      <a [routerLink]="['/home']" class="btn btn-outline-neutral btn-round">About me</a>
      <a [routerLink]="['/contact']" class="btn btn-outline-neutral btn-round">Contact me</a>
    </div>
  </div>
</div>
