<div class="page-header page-header-xs" data-parallax="true"
     style="background-image: url('./assets/img/parallax/projects_page.jpg');">
</div>

<div class="container main_container">
  <div class="text-center">
    <h1>Projects</h1>
  </div>
  <div class="cards">
    <div class="card card-container">
      <img class="card_image card-img-top" src="assets/img/logos/pilz.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PASCheck</h5>
        <p class="card-text">As part of my third year work placement, I worked on PASCheck in Pilz Ireland. This
          project involved creating a builder for compliance checklist forms in machine inspections, The technologies
          involved where Spring Boot, React, H2, PostgreSQL and REST</p>
        <a href="https://www.pilz.com/en-IE" class="card-link">View website</a>
      </div>
    </div>
    <div class="card card-container">
      <img class="card_image card-img-top" src="assets/img/logos/itss.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Testing</h5>
        <p class="card-text">When i was doing my Computer science level 6, I worked in ITSS (Irish taxation
          software servcies). When i worked here i helped in creating test software for ITSS's main product.</p>
        <a href="https://www.itssltd.com/" class="card-link">View website</a>
      </div>
    </div>
    <div class="card card-container">
      <img class="card_image card-img-top" src="assets/img/logos/github.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GitHub</h5>
        <p class="card-text">Please check out my GitHub, To view other projects i have worked on</p>
        <div class="card-body">
          <a href="https://github.com/Pa-OShea" class="card-link">View website</a>
        </div>
      </div>
    </div>
  </div>
</div>
