<div class="page-header page-header-xs" data-parallax="true"
     style="background-image: url('./assets/img/parallax/skills_page.jpg');">
</div>

<div class="container main_container">
  <div class="text-center">
    <h1>Skills</h1>
    <div class="cards">
      <div class="card card-container">
        <h3 class="title">Web</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"
               target="_blank">CSS</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://reactjs.org/" target="_blank">React Js</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://angular.io/" target="_blank">Angular</a>
          </li>
        </ul>
      </div>
      <div class="card card-container">
        <h3 class="title">Software</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://www.java.com/en/download/" target="_blank">Java</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://www.python.org/" target="_blank">Python</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://en.wikipedia.org/wiki/C_(programming_language)"
               target="_blank">C</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://developer.android.com/" target="_blank">Android Development</a>
          </li>
        </ul>
      </div>
      <div class="card card-container">
        <h3 class="title">Database</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://www.mysql.com/" target="_blank">MySQL</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="http://www.h2database.com/html/main.html" target="_blank">H2</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://firebase.google.com/" target="_blank">Firebase</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-neutral" href="https://www.mongodb.com/" target="_blank">MongoDB</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
