<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a rel="tooltip" title="View my GitHub" data-placement="top"
               href="https://github.com/Pa-OShea" target="_blank">
              <i class="fa fa-github"></i>
              GitHub
            </a>
          </li>
          <li>
            <a rel="tooltip" title="View my LinkedIn" data-placement="top"
               href="https://www.linkedin.com/in/patrick-o-shea/" target="_blank">
              <i class="fa fa-linkedin-square"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">© Created by Patrick O'Shea</span>
      </div>
    </div>
  </div>
</footer>
